.container {
    border: 2px solid rgb(1, 59, 247);
    width: 30%;
    border-radius: 15px;
    padding: 20px;
    margin-top: 5%;
}

#imgUser {
    border-radius: 50%;
    border: 1px solid rgb(55, 1, 248);
    width: 100px;
}